# Node
node_modules/
.next/
out/
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Locks
package-lock.json
yarn.lock
pnpm-lock.yaml
